name: SLSA container-based releaser
on:
  push:

permissions: read-all

jobs:
  # Trusted builder.
  build:
    permissions:
      id-token: write # To sign the provenance.
      contents: write # To upload assets to release.
      actions: read # To read the workflow path.
    uses: slsa-framework/slsa-github-generator/.github/workflows/builder_container-based_slsa3.yml@v2.1.0
    with:
      builder-image: "quay.io/pypa/manylinux_2_28_x86_64:2025.11.11-1"
      builder-digest: "sha256:a7333f64cc4dd1b103e1c9e1f3415267391bdf773c892720dd28b887cefc0c26"
      config-path: ".github/config/slsa.toml"